<h1>About Me</h1>
<p>I have 9+ years of experience in IT, including software architecture, analysis, development and project management.</p>
<p>Mainly focused in Service Oriented Architecture and in the last few years in API environments with design, helping companies develop their roadmap to digital transformation and now developing microservices to an agile architecture.</p>
<p>I am a doer in the Javascript Stack, with Node.JS, ExpressJS and Angular 2.</p>
<p>And I really enjoy learn new things "Everyday is an opportunity to be better than yesterday"</p>
