<h1>Would you like to contact me?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Vancouver, BC</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "150512345678" %></p>

    <h3>Email</h3>

    <p><a href="mailto:me@fillipemassuda.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.607217786394!2d-123.09439628471644!3d49.283839478610304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717254bfe98f%3A0x10e2e05d4a8c223d!2s520+Alexander+St%2C+Vancouver%2C+BC+V6A+1C7%2C+Canad%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1492382170503" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>